/* Everything */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(180deg, #1ad0e5 10%, #0a26a4 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333333;
}

/* form */

#formdiv {
    height: 75vh;
}

/* paragraph after account recovery */
#resetcode {
    font-size: 1em;
}

/* inputs */

.inputs{
    margin-top: 3.3vh;
}

/* Code */

#entercode {
    padding: 15px; 
    background-color:#f4f8f7; 
    box-shadow: 1px 1px 1px ;
    width: 65vw;
    height: 5vh;
    border: none;
    outline: none;
    box-shadow: none;
}

/* new password */

#password {
    padding: 15px; 
    background-color:#f4f8f7; 
    box-shadow: 1px 1px 1px ;
    width: 65vw;
    height: 5vh;
    border: none;
    outline: none;
    box-shadow: none;
}

#resetpassword:hover {
    cursor: pointer;
    background-image: linear-gradient(360deg, #1ad0e5 -50%, #0a26a4 100%)
}

/* Password again */

#passwordagain {
    padding: 15px; 
    background-color:#f4f8f7; 
    box-shadow: 1px 1px 1px ;
    width: 65vw;
    height: 5vh;
    border: none;
    outline: none;
    box-shadow: none;
}

/* red requirements */

#requirement1 {
    font-size: 0.75em;
    margin-top: 1vh;
    color: red;
    text-align: center;
}
    #requirement2 {
    font-size: 0.75em;
    color: red;
    text-align: center;
}

/* Reset password button */

#resetpassword {
    background-image: linear-gradient(270deg, #1ad0e5 10%, #0a26a4 100%);
    padding-top: 1.2vh; 
    padding-bottom: 1.2vh; 
    border: none;
    color: white;
    font-size: 3vw;
    position: relative;
    bottom: 3vh;
    width: 40vw; 
    border-radius: 50px;
    margin-top: 0vh;
}

/* Footer */

#my-container-fluid {
    margin-top: 30vw;
}


/* @media responsive */

/* Footer */

@media (max-width: 532px) {
    #my-container-fluid {
        margin-top: 0vw;
    }
}

@media (min-width: 1300px) {    
    #formdiv {
        height: 75vh;
    }
    #resetpassword {
        font-size: 1vw;
        padding-top: 0.7vh;
        padding-bottom: 0.7vh;
        position: relative;
        bottom: 6.9vh;
        margin-left: 0vh;
        width: 10.5vw; 
        border-radius: 50px;
        margin-top: 6vh;
    }
}

@media (min-width: 576px) {
    #entercode {
        width: 21vw;
        height: 7vh;
}
    #password {
        width: 21vw;
        height: 7vh;
}
    #passwordagain {
        width: 21vw;
        height: 7vh;
    }
}


